
.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .6);
    padding: 0 1.2em;
    transition: all .25s ease-in-out;
}

.modalContainer.modalHidden {
    z-index: -1;
    opacity: 0;
    transform: scale(0);
}

.modalContainer.modalVisible {
    z-index: 10;
    opacity: 1;
    transform: scale(1);
}

.modalCard {
    width: 100%;
    max-width: 800px;
    max-height: 90%;
    overflow-wrap: break-word;
    overflow-y: scroll;
    background-color: var(--primaryBgColor);
    box-shadow: .2em .2em .2em var(--shadowColor);
    border: 2px solid var(--secondaryBgColor);
    padding: 1.5em 0;
}

.modalCard::-webkit-scrollbar {
    display: none;
}

.modalButton {
    display: block;
    width: 80%;
    color: var(--secondaryTextColor);
    font-size: 1.3em;
    background: transparent;
    border: 2px solid var(--secondaryBgColor);
    margin: auto;
    margin-bottom: .5em;
    padding: .5em 0;
    transition: .3s ease-out;
}

.modalButton:focus,
.modalButton:hover {
    background-color: var(--secondaryBgColor);
}

.modalFormInput {
    width: 100%;
    color: var(--secondaryTextColor);
    background: transparent;
    font-size: 1.5em;
    border: 2px solid var(--secondaryBgColor);
    border-right: none;
    border-left: none;
    padding: .4em;
    margin-bottom: 1.2em;
}
